<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand heading-black" href="/">
                <h3 style="color:fuchsia;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bolder;">SHRUTI ANAND</h3>
                <!-- <img style="height:60px" class="img-logo" src="{{{global.img_logo_nav}}}=s520"/> -->
                
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul  class="navbar-nav ml-auto mobile-nav">
                    {{#global.header_nav.nav1.show_or_hide}}
                    <li class="nav-item">
                        <a style="color:fuchsia; font-family: sans-serif; font-weight: bold; font-size:larger;transition: color 0.5s  border-bottom 4s" class="nav-link" href="/#hero-section">{{global.header_nav.nav1.text}}</a>
                    </li>
                    {{/global.header_nav.nav1.show_or_hide}}

                    {{#global.header_nav.nav2.show_or_hide}}
                    <li class="nav-item">
                        <a style="color: darkgray; font-family: sans-serif; font-weight: bold;font-size:larger;" class="nav-link" href="/#project-section">{{global.header_nav.nav2.text}}</a>
                    </li>
                    {{/global.header_nav.nav2.show_or_hide}}

                    {{#global.header_nav.nav3.show_or_hide}}
                    <li class="nav-item">
                        <a style="color:fuchsia; font-family: sans-serif; font-weight: bold;font-size:larger;" class="nav-link" href="/#contact-section">{{global.header_nav.nav3.text}}</a>
                    </li>
                    {{/global.header_nav.nav3.show_or_hide}}

                    {{#global.header_nav.nav4.show_or_hide}}
                    <li class="nav-item">
                        <a class="nav-link" href="/#section3">{{global.header_nav.nav4.text}}</a>
                    </li>
                    {{/global.header_nav.nav4.show_or_hide}}
                </ul>
            </div>
        </nav>
    </div>
</section>
